/* Kathir a/l Ruthirapathy: gaya untuk keseluruhan halaman */
body {
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}
 /* Kathir a/l Ruthirapathy: gaya untuk kontena utama  */
.container {
    margin-top: 100px;
}
/* Kathir a/l Ruthirapathy: gaya untuk butang */
.button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
/* Kathir a/l Ruthirapathy gaya untuk mesej  */
.message {
    display: none;
    margin-top: 30px;
    font-size: 24px;
    color: #2E8B57;
}


/* CSS Trick: guna checkbox */
#toggle:checked ~ .message {
    display: block;
}


#toggle {
    display: none;
}
